<header class="navbar-fixed">
  <nav class=" #673ab7 deep-purple">
    <div class="container nav-wrapper">
          <%= link_to "Marketool Marketplace", root_path, class: "brand-logo"  %>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
                  <li><%= link_to 'Vendi Contenuto', new_content_path %> </li>

                  <% if user_signed_in? %>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

                  <%else%>
                  <li><%= link_to "Accedi", new_user_session_path%> </li>
                  <li><%= link_to "Registrazione", new_user_registration_path%> </li>
                 <%end %>
      </ul>   
  
    <ul class="sidenav" id="mobile-demo">
              <li><%= link_to 'Vendi Contenuto', new_content_path %> </li>
               <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to "Accedi", new_user_session_path%> </li>
                  <li><%= link_to "Registrazione", new_user_registration_path%> </li>
    </ul>

    </div>
  </nav> 
</header>
